{{#if @blog.logo}}
<div class="logo">
    <a class="blog-logo" href="{{@blog.url}}">
        <img class="blog-logo-image" src="{{@blog.logo}}" alt="Blog Logo" />
    </a>
    <div class="text-center">me<i class="fas fa-level-up-alt ml-1"></i></div>
</div>
{{/if}}

{{> "info"}}
