<div class="text-center col-md-12">
  <h1 class="mt-0"><a href={{@site.url}}>{{@blog.title}}</a></h1>
</div>
<div class="text-center my-2 col-md-12">
  {{@blog.description}}
</div>
<div class="text-center my-2 col-md-12">
  {{navigation}}
</div>
<hr class="my-2">